.Mynavbar{
    height: 3rem;
}
@media(min-width:900px){
    .my-menu{
        display: none;
        
    }
}
.my-menu{
    padding-left: 2rem;
}
@media(max-width:900px){
    .home-side{
        visibility: hidden;
    }
    .my-menu{
        margin-right: 4rem;
    }
    .color{
        display: none;
    }
}
.color{
       height: 600px;
    width: 300px;
    background-color: aqua;
}